@chooseModalPrefixCls: tui-choose-modal;

.@{chooseModalPrefixCls} {
  .am-modal-header {
    padding: 12px 30px;
  }
  .am-modal-close {
    top: 10px;
  }
  .am-modal-body {
    background-color: #f2f3f5;
  }
  .list-wrap {
    height: calc(100% - 96px);
    overflow: auto;
  }
  .choose-wrap {
    width: 100vw;
    height: calc(100vh - 400px);

    .search-wrap {
      height: 96px;

      :global(.am-search) {
        height: 100%;
      }
    }

    .card-wrap {
      overflow: hidden;
      margin-left: 32px;
      padding: 24px 0;
      border-bottom: 1px solid #e6e7eb;
      position: relative;

      .line1 {
        font-size: 32px;
        font-weight: 600;
        color: #303133;
        line-height: 32px;
        line-height: 48px;
        max-width: 560px;
        word-break: break-all;
        text-align: left;
      }
      .line2 {
        position: absolute;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 28px;
        color: #108ee9;
      }
    }

    .loading {
      height: 96px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
    }
  }
}

.choose-modal-formfield {
  .text-dom {
    display: block;
    max-width: 590px;
    height: 88px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 88px;
    position: relative;
    align-self: stretch;
    padding-right: 30px;
    overflow: hidden;
    color: #303133;
    font-weight: 400;

    &.active {
      color: #c0c4cc;
    }
  }
}
