.tui-formfield {
  background: #fff;
  min-height: 148px;
  overflow: hidden;
}
.tui-formfield .control {
  width: 718px;
  height: 100%;
  float: right;
  overflow: hidden;
  position: relative;
  padding: 34px 32px 0 0;
  border-bottom: 1px solid #e6e7eb;
}
.tui-formfield .control .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  color: #909399;
}
.tui-formfield .control .header .label {
  color: #909399;
}
.tui-formfield .control .header img {
  width: 32px;
  height: 32px;
}
.tui-formfield .control .required {
  color: #909399;
}
.tui-formfield .control .required::after {
  content: '*';
  color: #f22323;
  margin-left: 4px;
}
.tui-formfield .control .content {
  font-size: 36px;
  font-weight: 400;
  color: #303133;
  line-height: 36px;
}
.tui-formfield .control .content.grew {
  color: #909399;
}
.tui-formfield .control .error {
  font-size: 24px;
  color: #f22323;
}
.tui-formfield .text-dom {
  display: block;
  max-width: 590px;
  height: 88px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 88px;
  position: relative;
  align-self: stretch;
  padding-right: 30px;
  overflow: hidden;
  color: #303133;
  font-weight: 400;
}
.tui-formfield .text-dom.active {
  color: #c0c4cc;
}
.tui-formfield :global(.am-input-control input::-webkit-input-placeholder) {
  color: #909399;
}
